extends layout

block content
  .container.center-container.h-100
    .container
      if videoURL !== null
        .row#response-row
          .col
            .card#response-box
              .card-body.center-text
                  h2 hello
      .row#content-row
        .col
          .card#content-box
            if videoURL !== null
              video#video-box.card-img-top.embed-responsive.embed-responsive-16by9(autoplay='autoplay', controls, disablePictureInPicture, controlsList='nodownload')
                source(src=videoURL, type='video/mp4')
            .card-body
              .row
                .col-sm.d-flex.center-text
                  h5.text-secondary.text-center.center-log#voicePrompt Click the microphone icon and speak
                .col-sm.d-flex
                  a.text-center.center-voice#voiceButton(href='#')
                    .circle-icon.d-flex
                      img.text-light.center-svg#voiceIcon(src='images/mic.svg')
                      audio#voiceIndicator
                        source(src='/resources/Clink.ogg', type='audio/ogg')
  script(src='/javascripts/lib/WebAudioRecorder.min.js')
  script(src='/javascripts/script.js')