extends layout

block content
  .container.my-4
    .row.gx-5
      h2.text-center Project Members
      .col-md.my-3
        .card.h-100.team-card
          .card-body.team-content.text-center
            img.img-fluid.rounded-circle.team-pic.mx-auto(src='images/Alex.png')
            h5.card-title.mt-3 Alexander Garcia
            p.card-text Software Engineering Student

      .col-md.my-3
        .card.h-100.team-card
          .card-body.team-content.text-center
            img.img-fluid.rounded-circle.team-pic(src='images/Simon.png')
            h5.card-title.mt-3 Simon Fan
            p.card-text Professor, CSM Computer Science and Information Systems